```css
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial,sans-serif;
    background:#0d0d0d;
    color:white;
    line-height:1.7;
}

/* HEADER */

header{
    position:sticky;
    top:0;
    z-index:1000;
    background:rgba(0,0,0,0.92);
    backdrop-filter:blur(8px);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    border-bottom:1px solid #c89b2d;
}

.logo-area h1{
    font-size:36px;
    color:#ffffff;
    letter-spacing:3px;
}

.logo-area p{
    color:#c89b2d;
    font-style:italic;
    margin-top:5px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:bold;
    transition:.3s;
    letter-spacing:1px;
}

nav a:hover{
    color:#c89b2d;
}

/* HERO */

.hero{
    height:90vh;
    background:
    linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
    url("images/art1.jpeg") center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.overlay{
    max-width:850px;
    padding:20px;
}

.overlay h2{
    font-size:60px;
    margin-bottom:20px;
}

.overlay p{
    font-size:22px;
    color:#dddddd;
    margin-bottom:35px;
}

/* BUTTONS */

.button,
.button2{

    display:inline-block;
    padding:15px 35px;
    text-decoration:none;
    border-radius:40px;
    margin:10px;
    transition:.35s;
    font-weight:bold;
}

.button{
    background:#c89b2d;
    color:black;
}

.button2{
    border:2px solid #c89b2d;
    color:white;
}

.button:hover{
    transform:translateY(-4px);
    box-shadow:0 0 25px #c89b2d;
}

.button2:hover{
    background:#c89b2d;
    color:black;
}

/* ABOUT */

.about{
    padding:90px 10%;
    text-align:center;
}

.about h2{
    color:#c89b2d;
    font-size:38px;
    margin-bottom:25px;
}

.about p{
    max-width:900px;
    margin:auto;
    color:#cccccc;
    font-size:20px;
}

/* GALLERY */

.title{
    text-align:center;
    font-size:45px;
    margin-top:70px;
    color:#c89b2d;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:35px;
    padding:60px 8%;
}

.card{
    background:#181818;
    border-radius:18px;
    overflow:hidden;
    transition:.4s;
    box-shadow:0 0 20px rgba(0,0,0,.4);
}

.card{
    position:relative;
    overflow:hidden;
    transition:0.5s;
}

.card:hover{
    transform:translateY(-12px) scale(1.02);
    box-shadow:0 20px 45px rgba(200,155,45,.5);
}

.card img{
    transition:0.6s;
}

.card:hover img{
    transform:scale(1.12);
}

.card::after{
    content:"VIEW ARTWORK";
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:rgba(200,155,45,.95);
    color:black;
    padding:12px 28px;
    border-radius:30px;
    font-weight:bold;
    opacity:0;
    transition:.4s;
}

.card:hover::after{
    opacity:1;
}

.card img{
    width:100%;
    height:350px;
    object-fit:cover;
    transition:.5s;
}

.card:hover img{
    transform:scale(1.08);
}

.card h3{
    color:#c89b2d;
    margin:20px;
}

.card p{
    padding:0 20px 20px;
}

/* FOOTER */

footer{
    background:black;
    text-align:center;
    padding:50px 20px;
    border-top:1px solid #c89b2d;
}

footer h3{
    color:#c89b2d;
    margin-bottom:10px;
}

footer p{
    color:#bbbbbb;
    margin:6px;
}

/* MOBILE */

@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:20px;
}

nav a{
    display:block;
    margin:10px;
}

.overlay h2{
    font-size:36px;
}

.overlay p{
    font-size:18px;
}

.logo-area h1{
    font-size:28px;
}

.about h2{
    font-size:30px;
}

/* Fade In Animation */

@keyframes fadeUp{

0%{
opacity:0;
transform:translateY(40px);
}

100%{
opacity:1;
transform:translateY(0);
}

}

.hero{
animation:fadeUp 1.2s ease;
}

.title{
animation:fadeUp 1.3s ease;
}

.card{
animation:fadeUp .8s ease;
}

.about{
animation:fadeUp 1.4s ease;
}

footer{
animation:fadeUp 1.5s ease;
}
#lightbox{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.95);

justify-content:center;

align-items:center;

z-index:99999;

cursor:pointer;

}

#lightbox img{

max-width:90%;

max-height:90%;

border:5px solid #c89b2d;

border-radius:15px;

box-shadow:0 0 40px #c89b2d;

animation:fadeUp
